[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"beautifulsoup4" = "==4.5.1"
pytelegrambotapi = "==3.2.1"
gunicorn = "*"


[dev-packages]



[requires]

python_version = "3.6"


